* {
    margin: 0;
    box-sizing: border-box;
    font-family: Geneva, Verdana, sans-serif;
    text-align: center;
}

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
.container {
    display: flex;
    position: absolute;
    left: 35%;
    top: 10%;
}
.score {
    color: white;
    margin-top: 1%;
}
.grid {
    width: 400px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    background-color: #d3d3d366;
    /* border: solid 1px; */
}

.hidden {
    display: none;
}
.grid div {
    height: 25px;
    width: 25px;
}

.tetrmino {
    background-color: blueviolet;
    border: outset thin #1b1b1b;
    box-shadow: inset -2px -2px 4px 1px #060505d4,
        inset 2px 2px 4px 1px #ffffffbf,
        8px 14px 6px -10px rgb(245 247 235 / 11%);
}

.mini-grid {
    margin: 5rem;
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
}
.mini-grid div {
    height: 20px;
    width: 20px;
    border: lightgrey 0.5px solid;
}
